.error{
    width: 864px;
    height: 864px;
}


@media only screen and (max-width:1280px){
	.error{
        width: 864px;
        height: 864px;
    }

}

@media only screen and (max-width:1024px){
    .error{
        width: 864px;
        height: 864px;
    }
}
 

@media only screen and (max-width:960px){
    .error{
        width: 780px;
        height: 780px;
    }
}

@media only screen and (max-width:600px){
	.error{
        width: 340px;
        height: 340px;
    }
}

@media only screen and (max-width:320px){
	.error{
        width: 340px;
        height: 340px;
    }
}