@charset "utf-8";
/* CSS Document */
body {font-family: Tahoma, Verdana, Arial !important;}
.font13 {font-size: 13px;}
.font16 {font-size: 16px;}
.color-title-cat {color:#616a78}
.a1-latthe .card-body, .a2-latthe .card-body {width: 100%; padding: 0;}
.a1-title {bottom:0; left: 0;}
.border-title-cat {border-bottom: solid 2px #ec971f; padding-bottom: 7px;}
.bg-badge {background-image: linear-gradient(to right, rgba(51,202,187,1), rgba(19,242,220,1));}
.bg-badge-opacity-2 {background-image: linear-gradient(to right, rgba(51,202,187,.2), rgba(19,242,220,.2));}
.page-history .nav-tabs .nav-link.active {background-color: rgba(19,242,220,.2);}
.border-radius-none {border-radius: 0;}
.color-nd {color: #33cabb}
.icon-thongtinphanthuong {top:0; right: 0;}
.border-avatar {border: solid 3px #FFFFFF;}
.bg-circle { 
   width: 80px;
   height: 80px;
   background: #6acbc1; 
   -moz-border-radius: 40px; 
   -webkit-border-radius: 40px; 
   border-radius: 40px;
   padding: 10px;
   display: block;
}
.bg-info-acc {background-color:#33cabb;}
.coin-num {color:#FFFFFF;}
.coin-num span {color:#ffa834; font-weight: bold;}
.btn-hover{display: inline-block; position: relative;}
.btn-hover::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 0 2px rgba(255,255,255,1);
  transition: box-shadow .1s ease;
  z-index:1;
  background-color: #ec971f;
  border-radius: 6px;
}

.btn-hover:hover::after {
  box-shadow: inset 0 0 0 2px rgba(255,255,255,1);
  background-color: #d58512;
  border-radius: 6px;
}
.btn-hover span {z-index: 100;position: relative;}
.slick-prev:before,
.slick-next:before {
  color: green;
}

.new { position: absolute; right: 8px; top: 8px; display: inline-block; background: #ff0000; width: 32px; height: 19px; line-height: 19px; margin-left: 5px; color: #fff; font-size: 10px; text-transform: uppercase; text-align: center; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; animation: movedownb 0.7s cubic-bezier(0, 0, 0.34, 0.76) 0.1s both infinite; -moz-animation: movedownb 0.7s cubic-bezier(0, 0, 0.34, 0.76) 0.1s both infinite; -webkit-animation: movedownb 0.7s cubic-bezier(0, 0, 0.34, 0.76) 0.1s both infinite; }
.new:before, .new:after { position: absolute; right: -5px; content: ""; width: 0; height: 0; border-style: solid; }
.new:before { top: 0; border-width: 8px 5px 0 5px; border-color: #ff0000 transparent transparent transparent; }
.new:after { bottom: 0; border-width: 0 5px 8px 5px; border-color: transparent transparent #ff0000 transparent; }
.list-newest ul {padding: 0; margin: 0;}
.list-newest ul li {position: relative; border-bottom: dotted 1px #CCCCCC; list-style: none; font-size:13px}
.hover-mualuot {font-size: 13px;}
div.hover-mualuot:hover {background-color: rgba(51,202,187,.2); font-size: 16px;}
div.hover-mualuot:focus {background-color: rgba(51,202,187,.2); font-size: 16px;}
.btn-tag-news {font-size:10px; padding: 2px 5px; margin-right: 3px; border: solid 1px #33cabb; color:#33cabb; border-radius: 8px}
.btn-tag-event {font-size:10px; padding: 2px 5px; margin-right: 3px; color: #ec971f; border: solid 1px #ec971f; border-radius: 8px}
.sum-game {left: 0; bottom: 0; background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.9), rgba(255,255,255,1), rgba(255,255,255,1));}
.md-mobile {display:none}
.btn-md-mobile { display: none}
.btn-action-mission{
  width: 110px;
}

.btn-animated  {-webkit-animation-name: example;
  -webkit-animation-duration: 1s;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;}

@-webkit-keyframes example {
  from {background-color: #616a78;}
  to {background-color: #ec971f;}
}

@keyframes example {
  from {background-color: #616a78;}
  to {background-color: #ec971f;}
}
.image-animated {-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: zoominoutsinglefeatured;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;}
  
@-webkit-keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
} 
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}



/* Sets up our marquee, and inner content */
.marquee {
    overflow: hidden;
    position: relative;
    padding-left: 50%;
    /* Some browsers may require -webkit-animation */
    animation: reduce 30s linear infinite;
}

        .marquee_inner {
            white-space: nowrap;
            display: inline-block;
            /* Some browsers may require -webkit-animation */
            animation: scroll 30s linear infinite;
        }

/* Creates two white-to-transparent gradients at the ends of the marquee */
.marquee::before, .marquee::after {
    z-index: 1;
    top: 0; left: 0;
    width: 50px; height: 100%;
    content: ""; display: block;
}

.marquee::after {
    left: auto; right: 0;
    transform: rotate(180deg);
}
@keyframes reduce {
    to {
        padding-left: 0;
    }
}

@keyframes scroll {
    to {
        transform: translateX( -100% );
    }
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,.7);
}

.thumb-lat-the:hover .overlay {
  opacity: 1;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}




@-webkit-keyframes movedown { 0% { -moz-transform: translateY(0%) rotate(-25deg); }
  50% { -moz-transform: translateY(15%) rotate(-25deg); }
  100% { -moz-transform: translateY(0%) rotate(-25deg); } }
@-moz-keyframes movedown { 0% { -ms-transform: translateY(0%) rotate(-25deg); }
  50% { -webkit-transform: translateY(15%) rotate(-25deg); }
  100% { -webkit-transform: translateY(0%) rotate(-25deg); } }
@keyframes movedown { 0% { transform: translateY(0%) rotate(-25deg); }
  50% { -webkit-transform: translateY(15%) rotate(-25deg); }
  100% { -webkit-transform: translateY(0%) rotate(-25deg); } }
@-webkit-keyframes movedownb { 0% { -moz-transform: translateY(0%); }
  50% { -moz-transform: translateY(15%); }
  100% { -moz-transform: translateY(0%); } }
@-moz-keyframes movedownb { 0% { -ms-transform: translateY(0%); }
  50% { -webkit-transform: translateY(15%); }
  100% { -webkit-transform: translateY(0%); } }
@keyframes movedownb { 0% { transform: translateY(0%); }
  50% { -webkit-transform: translateY(15%); }
  100% { -webkit-transform: translateY(0%); } }

/*Begin success check*/
.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
}
.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4CAF50;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
  content: '';
  height: 100px;
  position: absolute;
  background: #FFFFFF;
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4CAF50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, 0.5);
}
.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #FFFFFF;
}
@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

.img-hover {	
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .1s ease;
  backface-visibility: hidden;
}
.con-hover:hover .img-hover {
filter: contrast(150%);
}

.top-rank  {
	animation: jump 1s infinite;
	position: fixed;
	bottom:0;
	left: 0;
}

#phucloi .nav-pills .nav-link.active {
	background: none !important;
}
#phucloi .nav-pills .nav-link.active .img-shadow {
	-webkit-filter: drop-shadow(0 0 15px red);
     filter: drop-shadow(0 0 5px red);
	 transform: scale(1.2);

}

.shadow-ssm {
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.zoom {
  transition: transform .2s;
  }
  .zoom:hover {
    transform: scale(1.2);
  }
.btn-downgame {
	content: '';
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	-webkit-border-radius:6px !important;
    -moz-border-radius:6px !important;
    border-radius:6px !important;
    position:relative;
    display:block;
    overflow:hidden;
    background:#007bff !important;
	border:2px solid #FFFFFF !important;
/*    background:-webkit-gradient(linear,left top,left bottom,color-stop(#60a9f6,0),color-stop(#2577cf,1));
    background:-webkit-linear-gradient(top, #60a9f6 0%, #2577cf 100%);
    background:-moz-linear-gradient(top, #60a9f6 0%, #2577cf 100%);
    background:-o-linear-gradient(top, #60a9f6 0%, #2577cf 100%);
    background:linear-gradient(top, #60a9f6 0%, #2577cf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9f6', endColorstr='#2577cf',GradientType=0 );  */  
    -webkit-box-shadow:0px -5px 0px 0px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8);
    -moz-box-shadow:0px -5px 0px 0px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8);
    box-shadow:0px -5px 0px 0px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8);
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
/* .btn-downgame:hover
{
	-webkit-transform:scale(1.01);
    -moz-transform:scale(1.01);
    -ms-transform:scale(1.01);
    -o-transform:scale(1.01);
    transform:scale(1.01);
	filter: invert(.1);
} */


/*end success check*/
@media (max-width: 992px) {
	.box-social {display: none;}
	.md-box-social {position: absolute; top: 0; right: 10px;}
	.md-mobile { display: block}
}

@media (max-width: 576px) {
  .a_game:hover{
    text-decoration: none;
  }
  .txt-action{
    font-size: 10px !important;
  }
  .btn-action-mission{
    width: 100px;
  }
  .action_mission{
    margin-top: 10px;
  }
  .a1-latthe {margin-bottom: 0 !important;}
  /* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: -3px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: -50px;
}
#btnPlay {z-index: 9999;}
.btn-link {background-color: #FFFFFF;}
.btn-md-mobile { display: block}
.thumb-lat-the:hover .overlay {opacity: 0;}

}

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }


}
